{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}


      <div class='container'><h1>{{modelName}}</h1>
    
    <br>
<form action="/friends/{{modelName}}" METHOD = "POST">
    <input type="text" placeholder = "name" name = "name"><br>
  {% if modelName == 'Friends' %}
    <label for="group">Group</label>
      <select id="group" class="form-control" name="group">
        <option selected>Choose group...</option>
        {% for group in groups %}
        <option value = "{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
      </select>
      
      <label>Classes</label>    
        {% for class in classes %}
        <div class="form-check">
          <input name="class" class="form-check-input" type="checkbox" value="{{ class.id }}" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            {{ class.name }}
          </label>
        </div>
        {% endfor %}
      
  {% endif %}
  {% if modelName == 'ClassForm' %}
  <br>
  <input type="text" placeholder = "subject" name = "subject">
  <br>
  <input type="text" placeholder = "teacher" name = "teacher">
  <br>
  {% endif %}
      <br>
    <input type="submit" value="Add" class="btn btn-primary">
</form>

 <br><br>
 <table>
 {% if modelName == 'Friends' %}
    <th>Name</th>
    <th>Group</th>
    {% for friend in friends %}
    <tr> 
       <td><h4> {{friend.name }}</h4></td>
       <td> {{friend.group.name}}</td>
       <td><a href="/update/{{friend.id }}/{{modelName}}" class="btn btn-secondary btn-sm">Update</a></td>
       <td><a href="/delete/{{friend.id }}/{{modelName}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
  {% endif %}

  {% if modelName == 'Groups' %}
      <th>Name</th>
      {% for group in groups %}
      <tr> 
        <td><h4> {{group.name }}</h4> </td>
        <td><a href="/update/{{group.id }}/{{modelName}}" class="btn btn-secondary btn-sm">Update</a></td>&nbsp;
        <td><a href="/delete/{{group.id }}/{{modelName}}" class="btn btn-outline-danger btn-sm">Delete</a></td>&nbsp;
        <td><p>
          {% if group.people[0] %}
            Members:
            {% for friend in group.people %}
            {{friend.name}},
            {% endfor %}
          {% endif %}
        </p></td>
      </tr>
      {% endfor %}
  {% endif %}
 
  {% if modelName == 'ClassForm' %}
    <th>Name</th>
    <th>Subject</th>
    <th>Teacher</th>
    {% for class in classes %}
    <tr> 
       <td><h4> {{class.name }}</h4></td>
       <td> {{class.subject}}</td>
       <td> {{class.teacher}}</td>
       <td><a href="/update/{{class.id }}/{{modelName}}" class="btn btn-secondary btn-sm">Update</a></td>
       <td><a href="/delete/{{class.id }}/{{modelName}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
  {% endif %}

 
</table>

    </div>
    

   
  </body>
</html>
{% endblock %}