{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}


      <div class='container'><h1>{{modelName}}</h1>

    <br>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      

<form action="/friends/{{modelName}}" METHOD = "POST" enctype=multipart/form-data>
    <input type="text" placeholder = "name" name = "name"><br>
  {% if modelName == 'Groups' %}
    <input type=file name=file>
  {% endif %}
  {% if modelName == 'Friends' %}
    <label for="group">Group</label>
      <select id="group" class="form-control" name="group">
        <option selected>Choose group...</option>
        {% for group in groups %}
        <option value = "{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
      </select>
      
      <label>Classes</label>    
        {% for class in classes %}
        <div class="form-check">
          <input name="class" class="form-check-input" type="checkbox" value="{{ class.id }}" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            {{ class.name }}
          </label>
        </div>
        {% endfor %}
      
  {% endif %}
  {% if modelName == 'ClassForm' %}
  <br>
  <input type="text" placeholder = "subject" name = "subject">
  <br>
  <input type="text" placeholder = "teacher" name = "teacher">
  <br>
  {% endif %}
      <br>
    

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <input type="submit" value="Add" class="btn btn-primary">
 
</form>

</div></div>
</div>
</div>
</div>

 <br><br>
 <table>
 {% if modelName == 'Friends' %}
    <th>Name</th>
    <th>Group</th>
    {% for friend in friends %}
    <tr> 
       <td><h4> {{friend.name }}</h4></td>
       <td> {{friend.group.name}}</td>
       <td><a href="/update/{{friend.id }}/{{modelName}}" class="btn btn-secondary btn-sm">Update</a></td>
       <td><a href="/delete/{{friend.id }}/{{modelName}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
  {% endif %}

  {% if modelName == 'Groups' %}
  <div class="row row-cols-1 row-cols-md-4 g-4">
{% for group in groups %}
  
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{url_for('static', filename='/uploads/'+group.filename)}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{group.name }}</h5>
          <p class="card-text">{% if group.people[0] %}
            Members:
            {% for friend in group.people %}
            {{friend.name}},
            {% endfor %}
          {% endif %}</p>
        </div>
        <div class="card-footer">
          <a href="/update/{{group.id }}/{{modelName}}" class="btn btn-secondary btn-sm">Update</a>
          <a href="/delete/{{group.id }}/{{modelName}}" class="btn btn-outline-danger btn-sm">Delete</a>
        </div>
      </div>
    </div>
    
  
     {% endfor %}
    </div>
  {% endif %}    
      
 
  {% if modelName == 'ClassForm' %}
    <th>Name</th>
    <th>Subject</th>
    <th>Teacher</th>
    {% for class in classes %}
    <tr> 
       <td><h4> {{class.name }}</h4></td>
       <td> {{class.subject}}</td>
       <td> {{class.teacher}}</td>
       <td><a href="/update/{{class.id }}/{{modelName}}" class="btn btn-secondary btn-sm">Update</a></td>
       <td><a href="/delete/{{class.id }}/{{modelName}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
  {% endif %}

 
</table>

    </div>


   
  </body>
</html>


{% endblock %}