{% extends 'base.html' %}
{% block title %} Update {{modelName}} {% endblock %}
{% block content %}


<div class='container'>
    <h1>Update {{modelName}}</h1>    
<br>
<form action="/update/{{friend_to_update.id}}/{{modelName}}" METHOD = "POST">
    <input type="text" placeholder = "name" name = "name" value = "{{friend_to_update.name}}"><br>
    {% if modelName == 'Friends' %}
    <label for="group">Group</label>
      <select id="group" class="form-control" name="group">
        <option selected>{{friend_to_update.group.name}}</option>
        {% for group in groups %}
        <option value = "{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
      </select>
    {% endif %}<br>
    <label>Classes</label>    
        {% for class in classes %}
        <div class="form-check">
          {% if class.id in enrollments %}
          <input name="class" class="form-check-input" type="checkbox" value="{{ class.id }}" id="flexCheckDefault" checked>
          <label class="form-check-label" for="flexCheckDefault">
            {{ class.name }}
          </label>
          {% else %}
          <input name="class" class="form-check-input" type="checkbox" value="{{ class.id }}" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            {{ class.name }}
          </label>
          {% endif %}
        </div>
        {% endfor %}
        <br>
    <input type="submit" value="Update" class="btn btn-primary">
</form>
<div>
{% endblock %}